Repository kubernetes-csi/csi-test, pull requests merged in 2019-11, with the labels that each got.

#232 Fix go module requirements for semantic versioning
  cmd/csi-sanity/sanity_test.go
  cmd/mock-driver/main.go
  driver/mock.go
  go.mod
  mock/service/service.go
  pkg/sanity/sanity.go
  test/co_test.go
  test/driver_test.go
  v3/README.md
  v3/driver/driver-controller.go
  v3/driver/driver-node.go
  v3/driver/driver.go
  v3/driver/driver.mock.go
  v3/driver/mock.go
  v3/mock/cache/SnapshotCache.go
  v3/mock/service/controller.go
  v3/mock/service/identity.go
  v3/mock/service/node.go
  v3/mock/service/service.go
  v3/pkg/sanity/cleanup.go
  v3/pkg/sanity/controller.go
  v3/pkg/sanity/identity.go
  v3/pkg/sanity/node.go
  v3/pkg/sanity/sanity.go
  v3/pkg/sanity/tests.go
  v3/pkg/sanity/util.go
  v3/utils/grpcutil.go
  v3/utils/safegoroutinetester.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/M

#236 Add snapshot parameter flag
  cmd/csi-sanity/sanity_test.go
  pkg/sanity/controller.go
  pkg/sanity/sanity.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, needs-ok-to-test, release-note, size/M

#233 clean up configuration handling
  cmd/csi-sanity/sanity_test.go
  hack/_apitest/api_test.go
  hack/_apitest2/api_test.go
  hack/_embedded/embedded_test.go
  pkg/sanity/cleanup.go
  pkg/sanity/controller.go
  pkg/sanity/identity.go
  pkg/sanity/node.go
  pkg/sanity/sanity.go
  pkg/sanity/tests.go
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, release-note, size/L

#234 csi-sanity binary
  cmd/csi-sanity/Makefile
  cmd/csi-sanity/main.go
  pkg/sanity/sanity.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/M

#239 keepalive API
  cmd/mock-driver/main.go
  driver/mock.go
  hack/e2e.sh
  pkg/sanity/sanity.go
  test/driver_test.go
  utils/grpcutil.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, release-note, size/L
