Repository kubernetes-csi/csi-test, pull requests merged in 2020-08, with the labels that each got.

#261 Centralize cleanup of created resources
  cmd/csi-sanity/main.go
  cmd/mock-driver/main.go
  driver/mock.go
  go.mod
  go.sum
  hack/_apitest/api_test.go
  hack/_apitest2/api_test.go
  hack/_embedded/embedded_test.go
  mock/service/service.go
  pkg/sanity/cleanup.go
  pkg/sanity/controller.go
  pkg/sanity/logger.go
  pkg/sanity/node.go
  pkg/sanity/resources.go
  pkg/sanity/sanity.go
  test/co_test.go
  test/driver_test.go
  v3/pkg/sanity/cleanup.go
  v4/README.md
  v4/driver/driver-controller.go
  v4/driver/driver-node.go
  v4/driver/driver.go
  v4/driver/driver.mock.go
  v4/driver/mock.go
  v4/mock/cache/SnapshotCache.go
  v4/mock/service/controller.go
  v4/mock/service/hooks-const.go
  v4/mock/service/identity.go
  v4/mock/service/node.go
  v4/mock/service/service.go
  v4/pkg/sanity/controller.go
  v4/pkg/sanity/identity.go
  v4/pkg/sanity/logger.go
  v4/pkg/sanity/node.go
  v4/pkg/sanity/resources.go
  v4/pkg/sanity/sanity.go
  v4/pkg/sanity/tests.go
  v4/pkg/sanity/util.go
  v4/utils/grpcutil.go
  v4/utils/safegoroutinetester.go
Labels: approved, cncf-cla: yes, kind/api-change, lgtm, ok-to-test, release-note, size/XXL

#280 Add CSI LIST_VOLUMES_PUBLISHED_NODES to the controller in mock
  mock/service/controller.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/XS

#283 master: update release-tools
  mock/service/service.go
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
  release-tools/travis.yml
Labels: approved, cncf-cla: yes, lgtm, release-note, size/M

#279 Use klog for mock CSI driver logging
  cmd/mock-driver/main.go
  driver/driver.go
  go.mod
  go.sum
  mock/service/service.go
  vendor/k8s.io/klog/.travis.yml
  vendor/k8s.io/klog/CONTRIBUTING.md
  vendor/k8s.io/klog/LICENSE
  vendor/k8s.io/klog/OWNERS
  vendor/k8s.io/klog/README.md
  vendor/k8s.io/klog/RELEASE.md
  vendor/k8s.io/klog/SECURITY_CONTACTS
  vendor/k8s.io/klog/code-of-conduct.md
  vendor/k8s.io/klog/go.mod
  vendor/k8s.io/klog/go.sum
  vendor/k8s.io/klog/klog.go
  vendor/k8s.io/klog/klog_file.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/XXL

#288 Remove v4 hardcoded path
  v4/README.md
  v4/driver/driver-controller.go
  v4/driver/driver-node.go
  v4/driver/driver.go
  v4/driver/driver.mock.go
  v4/driver/mock.go
  v4/mock/cache/SnapshotCache.go
  v4/mock/service/controller.go
  v4/mock/service/hooks-const.go
  v4/mock/service/identity.go
  v4/mock/service/node.go
  v4/mock/service/service.go
  v4/pkg/sanity/controller.go
  v4/pkg/sanity/identity.go
  v4/pkg/sanity/logger.go
  v4/pkg/sanity/node.go
  v4/pkg/sanity/resources.go
  v4/pkg/sanity/sanity.go
  v4/pkg/sanity/tests.go
  v4/pkg/sanity/util.go
  v4/utils/grpcutil.go
  v4/utils/safegoroutinetester.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/M

#285 Add changelog for v4.0.0
  CHANGELOG-4.0.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S
