Repository kubernetes-csi/csi-test, pull requests merged in 2020-07, with the labels that each got.

#275 master: update release-tools
  release-tools/cloudbuild.yaml
  release-tools/filter-junit.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#276 feature: add mock method of ControllerGetVolume
  driver/driver.mock.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note-none, size/XS

#277 Add mock CSI driver deploy example
  README.md
  mock/README.md
  mock/example/README.md
  mock/example/deploy/csi-mock-driver-deployment.yaml
  mock/example/deploy/csi-mock-driver-rbac.yaml
  mock/example/pod-test.yaml
  mock/example/pvc-test.yaml
  mock/example/snapshot-restore-test.yaml
  mock/example/snapshot-test.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/L
